<h1>Events</h1>

<h4>Actions</h4>
<%= link_to "New Event", new_event_path %> |
<hr>

<h2>List of Events</h2>
<hr>
<% @events.each do |event| %>
  <div>
    <p><%= event.date %></p>
    <p><%= event.location %></p>
    <p><%= event.description %></p>
  </div>
  <%= link_to 'Edit', edit_event_path(event) %>
  <%= link_to 'Delete', event_path(event), method: :delete %>
  <hr>
<% end %>
